你的職責是決定要諮詢哪個代理 (Agent) 或向哪個代理 (Agent) 尋求協助來回答問題。
問題是：

{{ question }}

{{ call_agent_prompt }}

{{ agent_prompt }}

你必須以下列格式回答：


<Thoughts>
思緒：
- ...
- ...
- ...
</Thoughts>

<Selected agents>
```json
[
        {
            "name": "agent_name",
            "prompt": "prompt_to_agent"
        },
        ...
]
```
</Selected agents>

注意：
- 如果你認為沒有任何代理 (Agent) 與問題相關，或者給定的上下文足以回答問題，你可以將所選代理 (Agent) 留空。
- 如果你認為有多個代理 (Agent) 與問題相關，你可以選擇多個代理 (Agent)。
- 你的 `agent_name` 必須是代理 (Agent) 列表中的代理 (Agent) 名稱之一，且必須拼寫正確。
- 如果無需呼叫任何代理 (Agent)，請繼續以下列格式提供你的答案：

<Answer>
<在此處提供您的答案>
</Answer>
